NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_API_VERSION=v1

NEXT_PUBLIC_SERVICE_CONFIGURATOR_LOCAL=http://localhost:8080/configurator
NEXT_PUBLIC_SERVICE_IDENTIFICATION_LOCAL=http://localhost:8080/identification
NEXT_PUBLIC_SERVICE_MOVIMENTATION_LOCAL=http://localhost:8080/movimentation
NEXT_PUBLIC_SERVICE_DOCUMENT_LOCAL=http://localhost:8080/document

NEXT_PUBLIC_SERVICE_CONFIGURATOR_HOMOLOGATION=
NEXT_PUBLIC_SERVICE_IDENTIFICATION_HOMOLOGATION=
NEXT_PUBLIC_SERVICE_MOVIMENTATION_HOMOLOGATION=
NEXT_PUBLIC_SERVICE_DOCUMENT_HOMOLOGATION=

NEXT_PUBLIC_SERVICE_CONFIGURATOR_PRODUCTION=
NEXT_PUBLIC_SERVICE_IDENTIFICATION_PRODUCTION=
NEXT_PUBLIC_SERVICE_MOVIMENTATION_PRODUCTION=
NEXT_PUBLIC_SERVICE_DOCUMENT_PRODUCTION=
